name: GitHub Action for LaTeX

on:
    push:
        branches:
            - "master"
    pull_request:
        branches:
            - "master"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Build LaTeX document
              uses: xu-cheng/latex-action@4.0.0
              with:
                  root_file: paper.tex

            - name: Upload PDF artifact
              if: ${{ always() }}
              uses: actions/upload-artifact@v4
              with:
                  name: paper.pdf
                  path: paper.pdf
